<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822263632368-ga9l9jbokoa511hm5dabktpk8nbpq02d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822263632368-ga9l9jbokoa511hm5dabktpk8nbpq02d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>822263632368-7p2homvqhk4m2ibu6l1v9941mi1fte3v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQn8bMq0IpQU500KZmWFj1ak7L80Ci8sM</string>
	<key>GCM_SENDER_ID</key>
	<string>822263632368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wolf.menuresturante</string>
	<key>PROJECT_ID</key>
	<string>menurestaurante-2011f</string>
	<key>STORAGE_BUCKET</key>
	<string>menurestaurante-2011f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822263632368:ios:acb2497bfb5dbb17988d35</string>
</dict>
</plist>